<div class="section">
    <h5>Lista de Cursos</h5>
    <div class="collection">
        <a class="collection-item center" *ngFor="let curso of cursos" [routerLink]="['/cursos', curso.id]">
            {{ curso.name }}
        </a>
    </div>
    <br>
    <div class="flex-collection">
        <button class="next-prev-button" (click)="prevPage()"><</button>
                <p><strong>{{pagina}}</strong></p>
                <button class="next-prev-button" (click)="nextPage()">></button>
    </div>
</div>