<h5>Cadastrar / Editar</h5>

<div class="col s12">
    <div class="row">
        <div class="class-field col s12">
            <label for="disabled">ID</label>
            <input disabled id="disabled" [(ngModel)]="aluno.id" type="text">
        </div>
    </div>
    <div class="row">
        <div class="class-field col s12">
            <label for="name" class="active">Nome</label>
            <input id="name" [(ngModel)]="aluno.name" type="text" class="validade">
        </div>
    </div>
    <div class="row">
        <div class="class-field col s12">
            <label for="email" class="active">Email</label>
            <input id="email" [(ngModel)]="aluno.email" type="email" class="validade">
        </div>
    </div>
</div>